/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Heading Styles */
h1 {
    text-align: center;
    color: #333;
}

h3 {
    text-align: center;
    color: #555;
    font-weight: bold;
}

/* Quiz Container Styles */
#quiz {
    margin: 20px auto;
    color: brown;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Question Styles */
.question {
    margin-bottom: 20px;
}

/* Label and Option Styles */
label {
    display: block;
    color: aqua;
    margin-left: 10px;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 10px;
}


/* Results Styles */
#results {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
